.btn-danger:hover {
    color: $danger!important;
    background-color: #fff!important;
}
.btn-success:hover {
    color: $success!important;
    background-color: #fff!important;
}
.btn-secondary:hover {
    color: $secondary!important;
    background-color: #fff!important;
}