a:hover {
    text-decoration: none;
}
.campaign-badge {
    position: absolute;
    top: 2%;
    left: 3%;
    border-radius: 700px;
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    span {
        padding-left: 10px;
        padding-right: 20px;
    }
}
.flag {
    width: auto;
    height: 16px;
}