// FOOTER LINKS STYLE ON HOVER, AND FIRST-LAST BORDER STYLE
footer a {
    opacity: 0.6;
}

footer a:hover {
    opacity: 1;
}

.info-wrapper > .single-info-wrapper {
    border-left: 1px solid $light;
}

.single-info-wrapper:first-child {
    border: none;
}

@media screen and (max-width:992px) {
    .info-wrapper > .single-info-wrapper {
        border: none;
    }
}
//PARTNERS SLIDER RESPONSIVE STYLE
@media screen and (max-width:768px) {
    .partners-slider .owl-two {
        padding: 0 0!important;
        .item {
            margin: 0 30px!important;
        }
    }
}