.avatar {
    width: 80px;
    height: 80px;
}
.avatar-text {
    @extend .avatar;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
// DISCOVER THE PROJCET SECTION
@media screen and (min-width: 992px) {
    .status-single {
    border-right: 1px solid $secondary;
    flex: 1;
    }
    .status-single-last {
        flex: 1;
    }
}

//CTA SECTION
.cta-single-link {
    flex: 1;
}