.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate( 0, -50%);
    .side-nav-item {
        height: 15px;
        width: 15px;
        border: 0;
        padding: 0!important;
        background-color: $light;
        &:first-child {
            margin-bottom: 10px; 
        }
        &:hover {
            background-color: $success!important;
        }
        &:focus {
            box-shadow: 0;
        }
    }
}
.campaign-story .nav .active {
    background-color: #000!important;
    color: #fff!important;
    font-size: 20px;
}