// BACKGROUND AND TEXT COLOR VARIABLES
$theme-colors: (
  "primary":#333c55,
  "success": #46ad8d,
  "danger": #e04840,
  "secondary": #73879c,
  "light": #f6f6f6,
  "info": #3d4765,
  "warning": #f2c94c,
  "soon": #5faac4,
  "new": #007390,
);

$gray-600: #aab6c3;
$navbar-light-hover-color:#46ad8d;
